<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'ui:home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ui:person list' %}">Persons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ui:key list' %}">Keys</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ui:role list' %}">Roles</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="{% url 'ui:logout confirm' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link disabled" href="{% url 'ui:login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
</nav>