{% extends 'basic/templates/list.html' %}

{% block objectList %}
    {% include 'basic/includes/list/list.html' with table=table %}
{% endblock %}

{% block buttons %}
    {% url 'ui:role details' id=id as return_url %}
    {% url 'ui:role attach persons' id=id as attach_url %}
    {% url 'ui:role detach persons' id=id as detach_url %}
    {% include 'basic/includes/static/button/link.html' with url=return_url button_name='Return' %}
    {% include 'basic/includes/static/button/link.html' with url=attach_url button_name='Attach persons' %}
    {% include 'basic/includes/static/button/link.html' with url=detach_url button_name='Dettach persons' %}
{% endblock %}