{% extends 'basic/templates/list/list-details.html' %}

{% block objectList %}
    {% include 'basic/includes/list/../archive/list.html' with fields=fields object_list=object_list details_url=details_url %}
{% endblock %}

{% block buttons %}
    {% url 'ui:person details' id=id as return_url %}
    {% url 'ui:role detach from person' id=id as detach_role_url %}
    {% include 'basic/includes/static/button/link.html' with url=return_url buttonName='Return' %}
    {% include 'basic/includes/static/button/link.html' with url=detach_role_url buttonName='Detach' %}
{% endblock %}