{% extends 'basic/templates/details/details.html' %}

{% block textInfo %}
    {% include 'basic/includes/details/details.html' with fields=fields object=object %}
{% endblock %}

{% block buttonToolbar %}
    {% url 'ui:role list' as return_url %}
    {% url 'ui:role update' id=id as update_url %}
    {% url 'ui:role delete' id=id as delete_url %}
    {% url 'ui:role attach to person' id=id as role_attach_to_person_url %}
    {% include 'basic/includes/static/button/link.html' with url=return_url buttonName='Return' %}
    {% include 'basic/includes/static/button/link.html' with url=update_url buttonName='Update' %}
    {% include 'basic/includes/static/button/link.html' with url=delete_url buttonName='Delete' %}
    {% include 'basic/includes/static/button/link.html' with url=role_attach_to_person_url buttonName='Attach role' %}
{% endblock %}