{% extends 'basic/templates/list/list-list.html' %}

{% block objectList %}
    {% include 'basic/includes/list/../archive/list.html' with fields=fields object_list=object_list details_url=details_url %}
{% endblock %}

{% block buttons %}
    {% url 'ui:controller details' id=id as return_url %}
    {% url 'ui:controller attach door' id=id as attach_new_door %}
    {% include 'basic/includes/static/button/link.html' with url=return_url buttonName='Return' %}
    {% include 'basic/includes/static/button/link.html' with url=attach_new_door buttonName='Attach new' %}
{% endblock %}