{% extends 'basic/templates/base-details.html' %}

{% block buttons %}
    <div class="col-offset-8 col-4 text-right ">
        <div class="btn-toolbar ">
            {% url 'ui:key list' as returnUrl %}
            {% url 'ui:key update' id=id as updateUrl %}
            {% url 'ui:key delete' id=id as deleteUrl %}
            {% include 'basic/includes/link-button.html' with url=returnUrl buttonName=retrunButton|default:'Return' %}
            {% include 'basic/includes/link-button.html' with url=updateUrl buttonName=updateButton|default:'Update' %}
            {% include 'basic/includes/link-button.html' with url=deleteUrl buttonName=deleteButton|default:'Delete' %}
        </div>
    </div>
{% endblock %}