{% extends 'basic/templates/details/multiple-buttons.html' %}

{% block textInfo %}
    {% include 'basic/includes/details/details.html' with fields=fields object=object %}
{% endblock %}

{% block buttonToolbar %}

    {% include 'basic/includes/details/buttons/buttons.html' with return_url=return_url update_url=update_url delete_url=delete_url %}
{% endblock %}

{% block buttons %}
    {% url 'ui:key list' as return_url %}
    {% url 'ui:key update' id=id as update_url %}
    {% url 'ui:key delete' id=id as delete_url %}
    {% url 'role attach to person' role_id=id %}
{% endblock %}