{% extends 'basic/templates/details/../basic/templates/details.html' %}

{% block textInfo %}
    {% include 'basic/includes/details/details.html' with object=object fields=fields %}
{% endblock %}

{% block buttons %}
    {% url 'ui:key list' as return_url %}
    {% url 'ui:key update' id=id as update_url %}
    {% url 'ui:key delete' id=id as delete_url %}
    {% url 'ui:key attach' id=id as attach_key_url %}
    {% include 'basic/includes/static/button/link.html' with url=return_url buttonName='Return' %}
    {% include 'basic/includes/static/button/link.html' with url=update_url buttonName='Update' %}
    {% include 'basic/includes/static/button/link.html' with url=delete_url buttonName='Delete' %}
    {% include 'basic/includes/static/button/link.html' with url=attach_key_url buttonName='Attach key' %}
{% endblock %}