{% extends 'basic/templates/list.html' %}

{% block object_list %}
    {% include 'basic/includes/list/list.html' with table=table %}
{% endblock %}

{% block buttons %}
    {% url 'ui:place details' id=id as return_url %}
    {% url 'ui:place attach doors' id=id as attach_url %}
    {% url 'ui:place detach doors' id=id as dettach_roles %}
    {% include 'basic/includes/button/link.html' with url=return_url button_name='Return' %}
    {% include 'basic/includes/button/link.html' with url=attach_url button_name='Attach' %}
    {% include 'basic/includes/button/link.html' with url=dettach_roles button_name='Dettach' %}
{% endblock %}