{% extends 'basic/templates/details/details.html' %}

{% with fields=fields object=object %}
    {% block textInfo %}
        {% include 'basic/includes/details/details.html' with object=object fields=fields %}
    {% endblock %}

    {% block buttonToolbar %}
        {% url 'ui:place list' as return_url %}
        {% url 'ui:place update' id=id as update_url %}
        {% url 'ui:place delete' id=id as delete_url %}
        {% include 'basic/includes/details/buttons/buttons.html' with return_url=return_url update_url=update_url delete_url=delete_url %}
    {% endblock %}
{% endwith %}