{% extends 'basic/templates/logout.html' %}


{% block title %}
    Logout confirm
{% endblock %}

{% block textInfo %}
    <div class="row top-buffer">
        <div class="col text-center h6">
            Please, confirm logout
        </div>
    </div>
{% endblock %}
{% block buttons %}
    <div class="row top-buffer">
        <div class="col btn-toolbar justify-content-center">
                {% url 'ui:home' as home_url %}
                {% url 'ui:logout' as logout_url %}
                {% include 'basic/includes/button/link.html' with url=home_url button_name='Return' %}
                {% include 'basic/includes/button/link.html' with url=logout_url button_name='Confirm' %}
        </div>
    </div>
{% endblock %}


