{% csrf_token %}
<div class="row">
    <div class="col">{{ form.non_field_errors }}</div>
</div>
{% for hidden_field in form.hidden_fields %}
    <div class="row">
        <div class="form-group col text-left top-buffer">
            {{ hidden_field.errors }}
            {{ hidden_field }}
        </div>
    </div>
{% endfor %}
{% for field in form %}
    <div class="row">
        <div class="form-group col text-left top-buffer">
            {{ field.label_tag }}
            {{ field }}
        </div>
    </div>
{% endfor %}

