<nav class="navbar navbar-expand-lg navbar-light bg-grey">
    <a class="navbar-brand" href="{% url 'ui:home' %}">JBAccess</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Person
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'ui:person list' %}">Person list</a>
                    <a class="dropdown-item" href="{% url 'ui:person create' %}">Create new person</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Role
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'ui:role list' %}">Role list</a>
                    <a class="dropdown-item" href="{% url 'ui:role create' %}">Create new role</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Key
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'ui:key list' %}">Key list</a>
                    <a class="dropdown-item" href="{% url 'ui:key create' %}">Create new key</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Door
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'ui:door list' %}">Door list</a>
                    <a class="dropdown-item" href="{% url 'ui:door create' %}">Create new door</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Place
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'ui:place list' %}">Place list</a>
                    <a class="dropdown-item" href="{% url 'ui:place create' %}">Create new place</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Controller
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'ui:controller list' %}">Controller list</a>
                    <a class="dropdown-item" href="{% url 'ui:controller create' %}">Create new controller</a>
                </div>
            </li>
        </ul>
        <div class="inline-group my-2 my-lg-0">
            {% if user.is_authenticated %}
                <a class="btn btn-outline-dark my-2 my-sm-0" href="{% url 'ui:logout confirm' %}">Logout</a>
            {% else %}
                <a class="btn btn-outline-dark my-2 my-sm-0" href="{% url 'ui:login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>