{% load tags %}

{% with fields=fields object_list=object_list model_name=model_name %}
    <div class="container-fluid" style="padding-top: 20px; width: 90%;">
        <table class="table table-light table-bordered">
            <thead class="thead-light">
            <tr>
                {% for field in fields %}
                    <th class="text-center" style="width: auto">{{ field }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    {% for field in fields %}
                        <td class="text-center" style="width: auto">
                            {% ifequal field 'id' %}
                                <a href="{% url 'ui:redirect details' id=object.id model_name=model_name %}">
                                    {{ object|get_obj_attr:field }}
                                </a>
                            {% else %}
                                {{ object|get_obj_attr:field }}
                            {% endifequal %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endwith %}
