{% load django_tables2 %}
{% load tags %}

{% with table=table %}
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
            <tr>
                {% for column in table.columns %}
                    <th scope="col" class="text-left">{{ column }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in table.rows %}
                <tr {% if row.attrs.onclick %}onclick="window.location='{{ row.attrs.onclick }}';"{% endif %}>
                    {% for field in row %}
                        <td class="text-left text-dark">{{ field }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
        </script>
    </div>
{% endwith %}