{% load django_tables2 %}
{% load tags %}

{% with table=table %}
    <div class="row top-buffer">
        <div class="col-12 justify-content-center">
            <table class="table table-striped table-bordered text-center">
                <thead class="bg-grey">
                <tr>
                    {% for column in table.columns %}
                        <th scope="col">{{ column }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="text-body">
                {% for row in table.rows %}
                    <tr>
                        {% for field in row %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endwith %}