{% extends 'basic/templates/base.html' %}


{% block content %}
    <div class="container">
    <div class="row text-center top-buffer">
        <div class="col-4 offset-4 col-offset-4">
            {% block text %}{% endblock %}
        </div>
    </div>
    {% block form %}
        <div class="row">
            <form class="form col-4 offset-4 col-offset-4 text-center top-buffer" method="post">
                {% block form_fields %}
                    {% include 'basic/includes/form/fields.html' %}
                {% endblock %}
                <div class="row">
                    <div class="col btn-toolbar justify-content-end">
                        {% block form_buttons %}
                        {% endblock %}
                    </div>
            </form>
        </div>
    {% endblock %}
    <div>
{% endblock %}

