{% extends 'basic/templates/base.html' %}

{% block extra_head %}
    {{ form.media.css }}
{% endblock %}

{% block extra_js %}
    {{ form.media.js }}
{% endblock %}

{% block content %}
    {% with form_type=form_type|default:"Form type" form_model=form_model|default:"None" %}
        <div class="offset-lg-2 col-lg-8 col-lg-offset-2">
            <div class="card">
                <div class="card-header">
                    <strong>{{ form_type }}</strong> {{ form_model }}
                </div>
                <div class="card-body card-block">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal" novalidate>
                        {% block fields %}
                            {% include 'basic/includes/form/fields.html' %}
                        {% endblock %}
                        <div class="card-footer text-right pt-3 pb-0">
                            {% block form_buttons %}
                            {% endblock %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}


