{% extends 'basic/templates/base.html' %}

{% block content %}
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-1 col-lg-10 col-offset-1">
                    {% block object_list %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block button_toolbar %}
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-1 col-lg-10 col-offset-1 text-right">
                        {% block buttons %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}