{% extends 'basic/templates/base.html' %}

{% load static %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="{% static 'images/icon/logo.png' %}" alt="JBAccess">
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="{% url 'ui:login' %}" method="post">
                                {% csrf_token %}
                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        <label>{{ field.label_tag }}</label>
                                        <div class="form-control"> {{ field }}</div>
                                    </div>
                                {% endfor %}
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}