{% load static %}

<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo">
                {% include 'basic/static/header/logo.html' %}
            </div>
            <div class="header__navbar">
                {% if user.is_authenticated %}
                    <ul class="list-unstyled justify-content-start offset-2">
                        <li class="has-sub">
                            <a href="{% url 'ui:person list' %}">
                                <i class="fas fa-tachometer-alt"></i>Person
                                <span class="bot-line"></span>
                            </a>
                            <ul class="header3-sub-list list-unstyled">
                                {% include 'basic/static/header/person-dashboard.html' %}
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="{% url 'ui:role list' %}">
                                <i class="fas fa-tachometer-alt"></i>Role
                                <span class="bot-line"></span>
                            </a>
                            <ul class="header3-sub-list list-unstyled">
                                {% include 'basic/static/header/role-dashboard.html' %}
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="{% url 'ui:place list' %}">
                                <i class="fas fa-tachometer-alt"></i>Place
                                <span class="bot-line"></span>
                            </a>
                            <ul class="header3-sub-list list-unstyled">
                                {% include 'basic/static/header/place-dashboard.html' %}
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>
            <div class="header__tool">
                {% if user.is_authenticated %}
                    <a class="header-button-item" style="font-size: 20px; margin-right: 0;"
                       href="{% url 'ui:logout confirm' %}">
                        Logout
                    </a>
                {% else %}
                    <a class="header-button-item" style="font-size: 20px; margin-right: 0;" href="{% url 'ui:login' %}">
                        Login
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>