{% extends 'basic/templates/base.html' %}

{% block content %}
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-1 col-lg-10 col-offset-1">
                    {% for table in tables %}
                        <p class="text-center pb-2 h1">{{ table.table_name }}</p>
                        {% include 'basic/includes/list/list.html' with table=table %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}