{% extends 'basic/templates/list.html' %}

{% block object_list %}
    {% include 'basic/includes/list/list.html' with table=table %}
{% endblock %}

{% block buttons %}
    {% if not return_url %}
        {% url 'ui:person details' id=id as return_url %}
    {% endif %}
    {% url 'ui:person acl allow' id=id as allow_place_url %}
    {% url 'ui:person acl deny' id=id as deny_place_url %}
    {% include 'basic/includes/button/link.html' with url=return_url button_name='Return' %}
    {% include 'basic/includes/button/link.html' with url=allow_place_url button_name='Allow places' %}
    {% include 'basic/includes/button/link.html' with url=deny_place_url button_name='Deny places' %}
{% endblock %}
