{% extends 'basic/templates/list.html' %}

{% block objectList %}
    {% include 'basic/includes/list/list.html' with table=table %}
{% endblock %}

{% block buttons %}
    {% url 'ui:person details' id=id as return_url %}
    {% url 'ui:person attach roles' id=id as attach_url %}
    {% url 'ui:person detach roles' id=id as dettach_roles %}
    {% include 'basic/includes/static/button/link.html' with url=return_url button_name='Return' %}
    {% include 'basic/includes/static/button/link.html' with url=attach_url button_name='Attach new' %}
    {% include 'basic/includes/static/button/link.html' with url=dettach_roles button_name='Dettach roles' %}
{% endblock %}