{% extends 'basic/templates/details.html' %}

{% block details_info %}
    {% include 'basic/includes/details/details.html' with object=object fields=fields %}
{% endblock %}

{% block buttons %}
    {% url 'ui:person list' as return_url %}
    {% url 'ui:person update' id=id as update_url %}
    {% url 'ui:person delete' id=id as delete_url %}
    {% url 'ui:person attached keys' id=id as attached_keys_url %}
    {% url 'ui:person attached roles' id=id as attached_roles_url %}
    {% url 'ui:person acl rules' id=id as acl_rules_url %}
    {% include 'basic/includes/button/link.html' with url=return_url button_name='Return' %}
    {% include 'basic/includes/button/link.html' with url=update_url button_name='Update' %}
    {% include 'basic/includes/button/link.html' with url=delete_url button_name='Delete' %}
    {% include 'basic/includes/button/link.html' with url=attached_keys_url button_name='Keys' %}
    {% include 'basic/includes/button/link.html' with url=attached_roles_url button_name='Roles' %}
    {% include 'basic/includes/button/link.html' with url=acl_rules_url button_name='Acl rules' %}
{% endblock %}
