{% extends 'basic/templates/base.html' %}

{% block title %}
    Person Details
{% endblock %}

{% block textInfo %}
    {% include 'basic/includes/content-detail.html' %}
{% endblock %}

{% block buttons %}
    <div class="col-offset-8 col-4 text-right ">
        <div class="btn-toolbar ">
            {% url 'ui:person list' as return_url %}
            {% url 'ui:update person' id=id as updateUrl %}
            {% url 'ui:delete person' id=id as deleteUrl %}
            {% url 'ui:attached keys' id=id as attachedKeysUrl %}
            {% include 'basic/includes/link-button.html' with url=return_url buttonName='Return' %}
            {% include 'basic/includes/link-button.html' with url=updateUrl buttonName='Update Person' %}
            {% include 'basic/includes/link-button.html' with url=deleteUrl buttonName='Delete Person' %}
            {% include 'basic/includes/link-button.html' with url=attachedKeysUrl buttonName='Attached Keys' %}
        </div>
    </div>
{% endblock %}