{% extends 'basic/templates/details/multiple-buttons.html' %}

{% block textInfo %}
    {% include 'basic/includes/details/details.html' with object=object fields=fields %}
{% endblock %}

{% block buttons %}
    {% url 'ui:person list' as return_url %}
    {% url 'ui:person update' id=id as update_url %}
    {% url 'ui:person delete' id=id as delete_url %}
    {% url 'ui:key attached to person' id=id as attached_keys_url %}
    {% url 'ui:person attached roles' id=id as attached_roles_url %}
    {% include 'basic/includes/static/button/link.html' with url=return_url buttonName='Return' %}
    {% include 'basic/includes/static/button/link.html' with url=update_url buttonName='Update' %}
    {% include 'basic/includes/static/button/link.html' with url=delete_url buttonName='Delete' %}
    {% include 'basic/includes/static/button/link.html' with url=attached_keys_url buttonName='Attached keys' %}
    {% include 'basic/includes/static/button/link.html' with url=attached_roles_url buttonName='Attached roles' %}
{% endblock %}

