{% load tags %}

{% with fields=fields object_list=object_list details_url=details_url %}
    <div class="row top-buffer">
        <div class="col-12 justify-content-center">
            <table class="table table-striped table-bordered text-center">
                <thead class="bg-grey">
                <tr>
                    {% for field in fields %}
                        <th scope="col">{{ field }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="text-body">
                {% for object in object_list %}
                    <tr>
                        {% for field in fields %}
                            <td class="text-center" style="width: auto">
                                {% ifequal field 'id' %}
                                    <a href="{% get_url details_url object.id %}">
                                        {{ object|get_obj_attr:field }}
                                    </a>
                                {% else %}
                                    {{ object|get_obj_attr:field }}
                                {% endifequal %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endwith %}
